.vitrine-container {
  max-width: 1000px;
  margin-top: 40px;
}

/* TÍTULO */
h1 {
  text-align: center;
  color: #ff4da6;
  margin-bottom: 30px;
}

/* PREÇO */
.preco {
  color: #ff4da6;
  font-weight: bold;
  margin: 10px 0;
}

/* BOTÃO ADD */
.btn-add {
  background: #ff4da6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.btn-add:hover {
  background: #e6398f;
}

/* BOTÃO PESQUISA */
.btn-pesquisar {
  background: #ff4da6;
  color: white;
  border-radius: 5px;
}

.btn-pesquisar:hover {
  background: #e6398f;
}

/* CARD */
.produto {
  border-radius: 10px;
  transition: 0.2s;
}

.produto:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}