.cesta-container {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
}

/* TÍTULO */
h1 {
  text-align: center;
  color: #ff4da6;
  margin-bottom: 30px;
}

/* PRODUTO */
.produto {
  gap: 20px;
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* IMAGEM */
.produto img {
  width: 100px;
  border-radius: 8px;
}

/* INFO */
.info {
  flex: 1;
}

/* BOTÃO REMOVER */
.remover {
  margin-top: 10px;
  background: #999;
  color: white;
  border-radius: 5px;
}

.remover:hover {
  background: #777;
}

/* TOTAL */
.total {
  margin-top: 30px;
}

/* BOTÃO FINALIZAR */
.finalizar {
  margin-top: 10px;
  padding: 10px 20px;

  background: #ff4da6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.finalizar:hover {
  background: #e6398f;
}